@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Introduction</h3>
<p>Hi there! My name is Ian Joseph Koenig. I am a current 4th year Senior at Ohio University studing Management Information Systems and Business Analytics. I am the current Senior Class Representative of the Honors College of Business as well as the former President Delta Sigma Pi Professional Business Fraternity. Upon graduation in May of 2020, I will be moving to New York City to start my full-time job as a Solutions Specialist for Microsoft.</p>
<h3>Interests</h3>
<p>I am a big fan of any outdoor activities, specifically back country hiking and plan to finish section hiking the Appalachian trail by the time I am 30. I am also an avid runner and completed my first marathon this past May and also completed my first Pelotonia race in August. Other interests include sports, where I am a huge Cleveland sports fan, and music, with my two favorite artists being John Mayer and ASAP Rocky. </p>
<h3>Family</h3>
<p>I am from Cleveand, OH but was born in Michigan. I live with my father in Cleveland and my mother lives in Tampa, FL. I have one sister named Ash and one dog named Mac.</p>