@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>My Contact Information</h3>

<address>
    33 Fern St Apt B<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    440.610.7585
</address>

<address>
    <strong>Questions:</strong>   <a href="mailto:ik090515@ohio.edu">ik090515@ohio.edu</a><br />
</address>