@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>The Page of Ian</h1>
    <p class="lead">Welcome to my page! To learn more about my life, follow the links below to learn as much or as litte as you may like! Press the button below to find the book I was published in 2015 for my poem "Temptation." (You'll have to purchase the book if you want to read it!)</p>
    <p><a href="https://www.amazon.com/2015-Hessler-Street-Poetry-Anthology/dp/1940996201" class="btn btn-primary btn-lg">2015 Hessler Street Fair Poetry Anthology &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>LinkedIn</h2>
        <p>
            To learn more about my professional life, check out my LinkedIn page to see my past internships, awards, and organizations I have been a part of!
        </p>
        <p><a class="btn btn-default" href="https://www.linkedin.com/in/ian-koenig/">LinkedIn &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instagram</h2>
        <p>To see more of what I do in my free time, feel free to follow me on Instagram! I often post about my friends, running, and my girlfriend.</p>
        <p><a class="btn btn-default" href="https://www.instagram.com/koenigian/">Instagram &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cystic Fibrosis Foundation</h2>
        <p>Since meeting Kathy Straley and her daughter Lilly who suffers from Cystic Fibrosis, I have started advocated for donations to their page for the Cystic Fibrosis Foundation. Follow the link to make a donation to help fund CF research.</p>
        <p><a class="btn btn-default" href="https://fightcf.cff.org/site/TR;jsessionid=00000000.app202a?px=1579116&fr_id=8063&pg=personal&NONCE_TOKEN=F15E4B249242FC798CA3DD10F27C41B4">Lilly's Page &raquo;</a></p>
    </div>
</div>